{{ define "title" }}
{{ .Site.Title }}
{{ end }}


{{ define "main" }}
<!-- list template -->
<div>

  {{ if .Title }}
  <h1>{{ .Title }}</h1>
  {{ else }}
  <p></p>
  {{ end }}
  {{ .Content }}

  {{ range .Paginator.Pages }}
  <!-- partials/using card.page.Html -->
  {{ if .Weight}}
  {{ else }}
  <div class="rounded-2 box-shadow-medium px-3 pb-2 pt-2 mb-3">
    <div class="Subhead mb-2">
      <div class="Subhead-heading">
        <a href="{{ .RelPermalink }}">
          <div class="h2 mt-1 mb-1">{{ .Title }}</div>
        </a>
      </div>
      <div class="Subhead-description">
        {{ partial "taxonomy.html" . }}
        <div class="float-md-right">
          <span>{{ .Date.Format "2006-01-02" }}</span>
        </div>
      </div>
    </div>
    <div class="text-gray">
      <!-- summary -->
      {{ .Summary }}
      <a class="muted-link" href="{{ .RelPermalink }}">…</a>
    </div>
  </div>
  {{ end }}

  <!-- origin list template 

  <div>
    <div>
      <a href="{{ .RelPermalink }}">
        <h3>{{ .Title }}</h3>
      </a>
      <small>{{ .Permalink }}</small>
      {{ .Date.Format "2006-01-02" }}
    </div>
    {{ .Summary }}
  </div>
  -->
  {{ end }}

  {{ if gt .Paginator.TotalPages 1 }}
  <nav class="paginate-container">
    <div class="pagination">
      <ul>
        {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}" class="previous_page">Prev</a>
        {{ else }}
        <span class="previous_page disabled">Prev</span>
        {{ end }}

        {{ range .Paginator.Pagers }}
        <a href="{{ .URL }}">
          {{ .PageNumber }}
        </a>
        {{ end }}

        {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}" class="next_page">Next</a>
        {{ else }}
        <span class="next_page disabled">Next</span>
        {{ end }}
      </ul>
    </div>
  </nav>
  {{ end }}


</div>

{{ end }}